body {

    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #0b94de;
    color: white;

}
#Dashboard{
    display: grid;
    width: 190px;
    font-size: 30px;
    border: 2px solid white;
    padding: 20px;
    border-radius: 15px;
    position: relative;
    top: 30px;
    left: 35px
}
#Add-products{
    border: 2px solid white;
    padding: 20px;
    font-size: 30px;
    border-radius: 15px;
    position: relative;
    top: 90px;
    left: 5px;
}
#Add-Product-Form {
    position: relative;
    right: 100px;
    width: 580px;
    height: 510px;
    background-color: #007bb5;
    padding: 50px;
    border-radius:30px ;
} 
.Container {
    display: flex;
}

.Sidebar {
    position: relative;
    top: 100px;
    left:70px;
    width: 300px;
    height: 300px;
    background-color: #007bb5;
    border-radius: 15px;
    padding: 50px;
}

.Sidebar h3 {
    margin-bottom: 20px;
}

.Sidebar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.Main-content {
    margin-left: 220px;
    /* padding: 20px; */
}

input, textarea, select {
    font-size: 22px;
    padding: 10px;
    width: 80%;
    margin-top: 5px;
}

button {
    font-size: 22px;
    padding: 12px 40px;
    border-radius: 30px;
    background-color: #cae03b;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

