body {
    background: linear-gradient(#84a9f8, #64a5f0);
    color: black;
    margin: 0;
    font-family: Arial, sans-serif;
    padding: 0;
}

.Full_details {
    display: flex;
    justify-content: center;
    gap: 20%;
}

.Name_Location {
    display: flex;
    gap: 15px;
}

.Name_Location > input[type="text"], select, option {
    width: 300px;
    height: 35px;
    font-size: 18px;
    padding: 5px;

}