body {
    background: linear-gradient(#84a9f8, #64a5f0);
    color: black;
    margin: 0;
    font-family: Arial, sans-serif;
    padding: 0;
}

.Name_Location {
    display: flex;
    gap: 15px;
    margin-top: -20px;
    padding: 0px;
    justify-content: center;
}