/* body {
  background: linear-gradient(#84a9f8, #64a5f0);
  color: black;
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 0;
}

form {
  max-width: 700px;
  margin: auto;
}

input,
select {
  width: 100%;
  padding: 8px;
  margin: 5px 0 15px;
  font-size: 16px;
}

input[type="submit"] {
  width: 100%;
  font-size: 18px;
  cursor: pointer;
}
.product-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 20px;
  text-align: center;
}
.product-card img {
  width: 200px;
  height: auto;
}

.Full_details {
    display: flex;
    justify-content: center;
    gap: 20%;
}

.Name_Location {
    display: flex;
    gap: 15px;
}

.Name_Location > input[type="text"], select, option {
    width: 300px;
    height: 35px;
    font-size: 18px;
    padding: 5px;

}  */


 body { font-family: Arial, sans-serif; margin: 20px;
  /* background: linear-gradient(#84a9f8, #64a5f0); */
 }
        form { max-width: 700px; margin: auto; }
        input, select { width: 100%; padding: 8px; margin: 5px 0 15px; font-size: 16px; }
        input[type="submit"] { width: 100%; font-size: 18px; cursor: pointer; }
        .product-card { border: 1px solid #ccc; padding: 10px; margin-top: 20px; text-align: center; }
        .product-card img { width: 200px; height: auto; }