body {
    background: linear-gradient(#84a9f8, #64a5f0);
    color: black;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Navigation Bar */
header {
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    background: linear-gradient(#7dd5d8, #7c7a7a);
    position: sticky;
    top: 0;
    z-index: 10;
    font-weight: bold;
}

.logo-text {
    font-size: 38px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

nav {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-right: 10px;
}

.nav-link {
    font-size: 22px;
    text-decoration: none;
    color: white;
    transition: 0.5s ease;
}

.nav-link:hover, .nav-link.active {
    color: red;
    background-color: rgb(109, 236, 166);
    border-radius: 20px;
    padding: 5px;
    /* font-weight: bold; */
}


/* Body Part */
.Monitor_products {
    display: grid;
    grid-template-columns: repeat(2,300px);
    grid-gap: 50px;
    justify-content: center;
    text-align: center;
    margin-top: 30px; 
}
.Monitor_name{
   color: white;
    font-size: 20px;
    background: linear-gradient(#22eca9, #74b7ee);
    border-radius: 30px;
    margin-top: 10px;
    transition: 0.7s;
}
.Monitor_name:hover {
    background: linear-gradient(#f0cd5c, #2ddd45);
}


/* Footer Part */
 .footer {
    background: rgba(0, 0, 0, 0.721);
    color: #ffffff; 
    text-align: center;
    padding: 10px 10px;
    margin-top: 60px;
}

.infoot { 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    font-size: 19px;
}

.logo-foot {
    width: 60px;
    height: 60px;
}

.links {
    display: flex;
    gap: 15px;
}

.footer-link {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-link:hover {
    color: #f0a500;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.app-logo {
    width: 25px;
    height: 25px;
    transition: transform 0.3s;
}

.app-logo:hover {
    transform: scale(1.2);
}

.privacy {
    margin-top: 9px;
    font-size: 20px;
}

.privacy a {
    color: white;
    text-decoration: none;
    margin: 1px;
    transition: color 0.3s;
}

.privacy a:hover {
    color: #f0a500;
}

 /*social media*/

 .fa{
 padding: 10px;
 font-size:10px;
 width:20px;
 text-align:center;
 text-decoration:none; 
 border-radius:50%;
}

.fa-facebook:hover{
background: #3B5998;
  color: white;
}
.fa-twitter:hover {
  background: #55ACEE;
  color: white;
}
.fa-instagram:hover {
  background:#FD1D1D;
  color: white;
}
.fa-whatsapp:hover{
background:#5FFC7B;
 color:white;
}
a{
text-decoration:none;
color:black;
}


@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    nav {
        gap: 20px;
        margin: 10px 0;
    }
}